

.inp-invalid {
    background-color: rgb(255, 204, 204);
    box-shadow: 0 0 5px red;
}

.inp-valid {
    background-color: rgb(219, 255, 214);
    box-shadow: 0 0 5px green;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
