<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>ID</th>
            <th>Usuario</th>
            <th>Direccion</th>
            <th>Date</th>
            <th>No. card</th>
            <th>Total</th>
            <th>State</th>
            <th>Options</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>ID</th>
            <th>Usuario</th>
            <th>Direccion</th>
            <th>Date</th>
            <th>No. card</th>
            <th>Total</th>
            <th>State</th>
            <th>Options</th>
        </tr>
    </tfoot>
    <tbody>
        <!-- <tr *ngFor="let order of listOrders; let i = index">
            <td>{{order.id_orden}}</td>
            <td><a style="color: black;">{{order.User?.nombres}} {{order.User?.apellidos}}</a></td>
            <td>{{order.direccion}}</td>
            <td>{{order.fecha}}</td>
            <td>{{order.no_tarjeta}}</td>
            <td>{{order.total}}</td>
            <td>{{order.estado}}</td>
            <td> -->
    </tbody>
</table>
